*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0f172a;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 10%;

background:#111827;

position:sticky;
top:0;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

color:white;
text-decoration:none;

}

nav a:hover{

color:#38bdf8;

}

.hero{

height:90vh;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

}

.hero h1{

font-size:50px;

}

.hero span{

color:#38bdf8;

}

.hero h2{

margin:15px 0;

}

.hero p{

max-width:600px;

line-height:30px;

}

.btn{

display:inline-block;

margin-top:20px;

padding:12px 30px;

background:#38bdf8;

color:white;

border-radius:5px;

text-decoration:none;

}

section{

padding:80px 10%;

}

.title{

text-align:center;

font-size:35px;

margin-bottom:50px;

color:#38bdf8;

}

.skills{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(120px,1fr));

gap:20px;

}

.skills div{

background:#1e293b;

padding:20px;

text-align:center;

border-radius:10px;

transition:.3s;

}

.skills div:hover{

background:#38bdf8;

transform:translateY(-5px);

}

.project-container{

display:flex;

gap:30px;

flex-wrap:wrap;

justify-content:center;

}

.card{

background:#1e293b;

padding:30px;

width:350px;

border-radius:12px;

transition:.3s;

}

.card:hover{

transform:scale(1.05);

}

.edu{

background:#1e293b;

padding:20px;

margin:20px 0;

border-radius:10px;

}

.contact{

text-align:center;

line-height:40px;

font-size:18px;

}

footer{

text-align:center;

padding:30px;

background:#111827;

margin-top:50px;

}

@media(max-width:768px){

nav{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

.hero h1{

font-size:35px;

}

}